#container {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
  #left, #right {
    position: absolute;
    width: calc(50% + 100px);
    height: 300px;
    transform: skew(-20deg, 0deg);
    overflow: hidden;
  }
  #left img, #right img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: skew(20deg, 0deg);
  }
  .content {
    position: absolute;
    top: 50%;
    left: calc(50% + 50px);
    background-color: rgba(255, 255, 255, .5);
    transform: skew(20deg, 0deg) translate(-50%, -50%);
    z-index: 1;
  }
  #right .content {
    left: 50%;
    right: 50px;
  }
  #left, #right img {
    left: -100px;
  }
  #right, #left img {
    right: -100px;
  }